@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Nixie+One&family=Raleway+Dots&family=Source+Sans+Pro&family=Special+Elite&display=swap');


body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 2%; 
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row-reverse; 
}
.info{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*Seccion de la información del restaurante*/
.infoRestaurante{
    padding: 15px;
    background-color: black;
    width: 30%;
}
.letra{
    font-family: 'Source Sans Pro', sans-serif;
}
.white{
    color: white;
}
.op{
    font-size:small;
}
.bold{
    font-weight: 800;
}
.tRestaurante{
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
#hwt{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}
/*Seccion de la información del platillo*/
.infoPlatillo{
    width: 70%;
    display: flex;
    flex-direction: row;
    border: solid 1.5px black;
    padding: 1%;
}
.tamPlatillo{
    height: 240px;
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
}
.tPlatillo{
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    
}

.infoPlatillo div p:first-child{
    text-align: center;
}

/*Seccion para crear comentarios*/
.ccomentario form {
    text-align: center;
}

.btn{
    background-color: black;
    color:white;
    padding: 5px;
    border-radius: 7px;
    font-family: 'Anton', sans-serif;
    font-size:small;
    letter-spacing: 1px;
}

.vcomentario{
    display: flex;
    flex-direction: column;
}

.comentario{
    margin-top: 2%;
    border-top: 1px solid black;
    padding-left: 2%;
}
.comentario p:first-child{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 0;
}
.tamEstrellas{
    width: 20px;
    height: 20px;
}


/*Estrellas*/


